<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaEmpleados.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Empleados</title>
</head>

<body>

    <h1 class="text-center align-content-center">Lista de Empleados</h1>
    <div id="SeccionPrincipalBC" class="container d-flex border">

        <div id="LSectionBC" class="">
            <img class="LogoBC" src="/images/carpetaempleados.svg" alt="">
        </div>
        <div id="RSectionBC" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid headerSideSize">
                    <div class="marginL">
                        <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaEmpleados/listarAllEmpleados"> <button class="marginIconos "><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/recargar.svg"
                                    alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos"><img
                                style="width: 2.5rem; height: 2.5rem;" src="/images/escoba.svg" alt=""></button>
                    </div>
                    <div class="marginL">
                        <a href="/VentanaAdministracion"><button class="marginIconos"><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/error.svg" alt=""></button>
                        </a>
                        <a href="/RegistroEmpleados/listarInfoDropMenus">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/mas.svg" alt=""></button>
                        </a>
                    </div>
                </div>
                <div id="littleForm">
                    <form id="frmEmpleados" method="post" action="/ListaEmpleados/filtrarLista"
                        class="form-inline container displayGrid headerMidleSize needs-validation" novalidate>
                        <div class="d-flex headerMidleSize">
                            <div class="marginIconos">


                                <div class="form-group  ">
                                    <input type="number" class="form-control" id="inputCodEmpl" name="inputCodEmpl"
                                        placeholder="Codigo del Empleado" required>
                                </div>
                            </div>
                            <div class="marginIconos">

                                <div class="form-group  ">
                                    <input type="text" class="form-control" id="inputNomEmpl" name="inputNomEmpl"
                                        placeholder="Nombre del Empleado" required>
                                </div>
                            </div>
                            <div class="displayGrid">

                                <!--llama al post para realizar busqueda-->
                                <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                        style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                        alt=""></button>

                                <!--Cargar post para eliminar registro de buffet-->
                                <button id="btnEliminar" type="button" onclick="llamadoEliminarFunction()"
                                    class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                        src="/images/menos.svg" alt=""></button>


                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div id="bodyListSection" class="overflow-auto">

                <table class="table table-hover" style="width:100%; height:auto;">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Consecutivo</th>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each recordset}}
                        <tr>
                            <td>{{codigo}} </td>
                            <td>EMP-{{consecutivo}}</td>
                            <td>{{cedula}}</td>
                            <td>{{nombre}}</td>
                            <td>{{apellidoUno}}</td>
                            <td>{{apellidoDos}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <h1 style="text-align: center; color: #A94442; border-radius: 1rem; background-color: #F3DEDE; ">
                    {{mensaje}}</h1>
            </div>

        </div>
    </div>

    <script>
        var formulario = document.getElementById("frmEmpleados");
        var btnEliminar = document.getElementById("btnEliminar");

        function limpiarInputs() {
            document.getElementById("inputCodEmpl").value = "";
            document.getElementById("inputNomEmpl").value = "";
            alert("Cajas de Texto limpias.");
        }

        function llamadoEliminarFunction() {

            btnEliminar.setAttribute("formaction", "../ListaEmpleados/eliminarEmpleados")
            btnEliminar.setAttribute("type", "submit");
        }


    </script>

    <script src="/javascripts/validaciones.js"></script>
</body>

</html>