<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaComestibles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Comestibles</title>
</head>

<body>
    <div id="SeccionPrincipalComestibles" class="container d-flex border">
        <div id="LSectionComestibles" class="">
            <img class="LogoComestibles" src="/images/comestibles.svg" alt="">
        </div>
        <div id="RSectionComestibles" class="border">
            <div id="headerListSection" class="d-block border">
                <div id="littleForm" class="d-flex">
                    <div class="displayGrid headerEspacios">
                        <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaComestibles/listarAllComestibles"><button class="marginIconos "><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/recargar.svg"
                                    alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos"><img
                                style="width: 2.5rem; height: 2.5rem;" src="/images/escoba.svg" alt=""></button>
                    </div>
                    <div class="displayGrid headerEspacios">
                        <a href="/RegistroComestibles/listarInfoDropMenus">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/mas.svg" alt=""></button>
                        </a>

                        <a href="/VentanaProductos"><button class="marginIconos"><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/error.svg" alt=""></button></a>

                    </div>
                    <form class="form-inline container displayGrid " method="post"
                        action="/ListaComestibles/filtrarLista">
                        <div class="d-flex MAXWandH">
                            <div class="displayGrid ">
                                <div class="marginIconos">

                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" id="inputCodComestible"
                                            name="inputCodComestible" placeholder="Codigo del Comestible">
                                    </div>
                                </div>
                                <div class="marginIconos">

                                    <div class="input-group input-group-sm mb-3  ">
                                        <input type="text" class="form-control" id="inputNomComestible"
                                            name="inputNomComestible" placeholder="Nombre del Comestible">
                                    </div>
                                </div>
                            </div>
                            <div class="displayGrid headerEspacios">
                                <div class="marginIconos">
                                    <div class="input-group input-group-sm mb-3  ">
                                        <input type="text" class="form-control" id="inputNomRestaurante"
                                            name="inputNomRestaurante" placeholder="Nombre del Restaurante">
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex headerEspacios">

                                <div class="displayGrid headerEspacios">
                                    <!--llama al post para realizar busqueda-->
                                    <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                            style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                            alt=""></button>

                                    <!--Cargar post para eliminar registro de buffet-->
                                    <button id="btnEliminar" type="button" onclick="llamadoEliminarFunction()"
                                        class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/menos.svg" alt=""></button>

                                </div>

                            </div>
                        </div>

                    </form>

                </div>

            </div>
            <div id="bodyListSection">

                <div id="listViewComestibles" class="border">
                    <div id="mostrarContenidoComestibles" class="overflow-auto">
                        <table class="table table-hover" style="width:100%; height:auto;">
                            <thead>
                                <tr>
                                    <th>Codígo</th>
                                    <th>Consecutivo</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Restaurante</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each recordset}}
                                <tr>
                                    <td>{{codigo}} </td>
                                    <td>COM-{{consecutivo}}</td>
                                    <td>{{nombre}}</td>
                                    <td>{{cantidad}}</td>
                                    <td>{{restaurante}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h1
                            style="text-align: center; color: #A94442; border-radius: 1rem; background-color: #F3DEDE; ">
                            {{mensaje}}</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var btnEliminar = document.getElementById("btnEliminar");

        function limpiarInputs() {
            document.getElementById("inputCodComestible").value = "";
            document.getElementById("inputNomComestible").value = "";
            document.getElementById("inputNomRestaurante").value = "";
            alert("Cajas de Texto limpias.");
        }

        function llamadoEliminarFunction() {

            if (document.getElementById("inputCodComestible").value == "" || document.getElementById("inputNomComestible").value == "") {
                alert("Debe llenar toda la informacion!!!");
            } else {
                btnEliminar.setAttribute("formaction", "../ListaComestibles/eliminarRestRegistro")
                btnEliminar.setAttribute("type", "submit");

            }
        }


    </script>
</body>

</html>