<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaBebidasGaseosas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Bebidas Gaseosas</title>
</head>

<body>
    <div id="SeccionPrincipalBG" class="container d-flex border">
        <div id="LSectionBG" class="">
            <img class="LogoBG" src="/images/soda.svg" alt="">
        </div>
        <div id="RSectionBG" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid ">
                    <div class="displayGrid">
                        <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaBebidasGaseosas/listarAllBebidasGaseosas"><button class="marginIconos "><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/recargar.svg"
                                    alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos"><img
                                style="width: 2.5rem; height: 2.5rem;" src="/images/escoba.svg" alt=""></button>
                    </div>
                </div>
                <div id="littleForm">
                    <form class="form-inline container displayGrid headerMidleSize needs-validation" method="post"
                        action="/ListaBebidasGaseosas/filtrarLista" novalidate>
                        <div class="d-flex headerMidleSize">
                            <div class="marginIconos">

                                <div class="form-group  ">
                                    <input type="number" class="form-control" id="inputCodBH" name="inputCodBH"
                                        placeholder="Codigo de la Gaseosa" required>
                                </div>
                            </div>
                            <div class="marginIconos">

                                <div class="form-group  ">
                                    <input type="text" class="form-control" id="inputNomBH" name="inputNomBH"
                                        placeholder="Nombre de la Gaseosa" required>
                                </div>
                            </div>
                            <div class="marginIconos">

                                <div class="form-group  ">
                                    <select class="custom-select" id="inputNombreRest" name="inputNombreRest" required>
                                        <option value="">Restaurante</option>
                                        {{#each restaurante}}
                                        <option value="{{codRes}}">{{nomRes}}</option>

                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="displayGrid">
                                <!--llama al post para realizar busqueda-->
                                <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                        style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                        alt=""></button>

                                <!--Cargar post para eliminar registro de buffet-->
                                <button id="btnEliminar" type="button" onclick="llamadoEliminarFunction()"
                                    class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                        src="/images/menos.svg" alt=""></button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="displayGrid ">
                    <a href="/RegistroBebidasGaseosas/listarInfoDropMenus">
                        <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;" src="/images/mas.svg"
                                alt=""></button>
                    </a>

                    <a href="/TiposDeBebidas"><button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/error.svg" alt=""></button>
                    </a>
                </div>
            </div>
            <div id="bodyListSection" class="overflow-auto">

                <table class="table table-hover" style="width:100%; height:auto;">
                    <thead>
                        <tr>
                            <th>Codígo</th>
                            <th>Consecutivo</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Bebidas}}
                        <tr>
                            <td>{{codigo}} </td>
                            <td>BE-{{consecutivo}}</td>
                            <td>{{nombre}}</td>
                            <td>{{precioUnitario}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <h1 style="text-align: center; color: #A94442; border-radius: 1rem; background-color: #F3DEDE; ">
                    {{mensaje}}</h1>
            </div>
        </div>

        <script>
            var formulario = document.getElementById("frmBufete");
            var btnEliminar = document.getElementById("btnEliminar");

            function limpiarInputs() {
                document.getElementById("inputCodBH").value = "";
                document.getElementById("inputNomBH").value = "";
                alert("Cajas de Texto limpias.");
            }

            function llamadoEliminarFunction() {

                btnEliminar.setAttribute("formaction", "../ListaBebidasGaseosas/eliminarRestRegistro")
                btnEliminar.setAttribute("type", "submit");

            }


        </script>

        <script src="/javascripts/validaciones.js"></script>
</body>

</html>