<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaCajas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Cajas</title>
</head>

<body class="container-fluid">
    <div id="SeccionPrincipalCajas" class="container d-flex border">
        <div id="LSectionCajas" class="">
            <img class="LogoCajas" src="/images/negocios-y-finanzas.svg" alt="">
        </div>
        <div id="RSectionCajas" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid headerSideSize d-flex border">
                <div class="marginL">
                         <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaCajas/listarAllCajas"> 
                        <button class="marginIconos "><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/recargar.svg" alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos">
                            <img style="width: 2.5rem; height: 2.5rem;"  src="/images/escoba.svg" alt=""></button>
                    
                    </div>
                    <div class="marginL">
                       <a href="/VentanaSeguridad"><button class="marginIconos">
                           <img style="width: 2.5rem; height: 2.5rem;"  src="/images/error.svg" alt=""></button>
                    </a>
                    </div>
                </div>
                <div id="littleForm">
                    <form id="frmCajas" method="post" action="/ListaCajas/filtrarLista"
                      class="form-inline container displayGrid headerMidleSize">
                        <div class="d-flex MAXWandH">
                                <div class="marginIconos">
                                     <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" id="inputCodRegistro"
                                           name="inputCodRegistro" placeholder="Codigo del Registro">
                                    </div>
                                </div>
                                <div class="marginIconos">
                                     <div class="input-group input-group-sm mb-3  ">
                                        <input type="text" class="form-control" id="inputNomRestaurante"
                                            name="inputNomRestaurante" placeholder="Nombre del Restaurante">
                                    </div>
                                </div>
                               <div class="displayGrid">

                                <!--llama al post para realizar busqueda-->
                                <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                        style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                        alt=""></button>
                              </div>
                        </div>

                    </form>
                </div>

            </div>
            <div id="bodyListSection">
                <div id="listViewCajas" class="border">
                    <div id="mostrarContenidoCajas">
                         <table class="table table-hover" style="width:100%; height:auto;">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Consecutivo</th>
                                    <th>Fecha</th>
                                    <th>Descripcion</th>
                                    <th>Apertura</th>
                                    <th>Cierre</th>
                                    <th>Restaurante</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each recordset}}
                                <tr>
                                    <td>{{codigo}} </td>
                                    <td>CAJ-{{consecutivo}}</td>
                                    <td>{{fechaRegistro}}</td>
                                    <td>{{descripcion}}</td>
                                    <td>{{aperturaCaja}}</td>
                                    <td>{{cierreCaja}}</td>
                                    <td>{{restaurante}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h1 style="text-align: center; color: red;">{{mensaje}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var formulario = document.getElementById("frmCajas");
        var btnEliminar = document.getElementById("btnEliminar");

        function limpiarInputs() {
            document.getElementById("inputCodRegistro").value = "";
            document.getElementById("inputNomRestaurante").value = "";
            alert("Cajas de Texto limpias.");
        }


    </script>
  
</body>

</html>