<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaMesas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Mesas</title>
</head>

<body class="container-fluid">
    <div id="SeccionPrincipalMesas" class="container d-flex border">
        <div id="LSectionMesas" class="">
            <img class="LogoMesas" src="/images/comedor.svg" alt="">
        </div>
        <div id="RSectionMesas" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid headerSideSize d-flex border">

                    <div class="marginL">
                        <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaMesas/listarAllMesas">
                            <button class="marginIconos "><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/recargar.svg" alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos"><img
                                style="width: 2.5rem; height: 2.5rem;" src="/images/escoba.svg" alt=""></button>
                    </div>

                    <div class="marginL">
                        <a href="/VentanaAdministracion"><button class="marginIconos"><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/error.svg" alt=""></button>
                        </a>
                        <a href="/RegistroMesas">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/mas.svg" alt=""></button>
                        </a>
                    </div>
                </div>

                <div id="littleForm">
                    <form id="frmMesas" method="post" action="/ListaMesas/filtrarLista"
                        class="form-inline container displayGrid headerMidleSize">
                        <div class="d-flex MAXWandH">
                            <div class="marginIconos">
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" id="inputCodMesa" name="inputCodMesa"
                                        placeholder="Codigo de la Mesa">
                                </div>
                            </div>
                            <div class="marginIconos">
                                <div class="input-group input-group-sm mb-3  ">
                                    <input type="text" class="form-control" id="inputNomMesa" name="inputNomMesa"
                                        placeholder="Nombre de la Mesa">
                                </div>
                            </div>
                            <div class="marginIconos">
                                <div class="input-group input-group-sm mb-3">
                                    <select class="custom-select" id="inputRest" name="inputRest">
                                        <option selected>Restaurante</option>
                                        <option value="1">Piccola Stella</option>
                                        <option value="2">Turin Anivo</option>
                                        <option value="3">Notte di Fuoco</option>
                                    </select>
                                </div>
                            </div>
                            <div class="marginIconos">
                                <div class="input-group input-group-sm mb-3  ">
                                    <input type="text" class="form-control" id="inputCantSillasMesa"
                                        name="inputCantSillasMesa" placeholder="Cantidad Sillas">
                                </div>
                            </div>
                            <div class="displayGrid">

                                <!--llama al post para realizar busqueda-->
                                <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                        style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                        alt=""></button>

                                <!--Cargar post para eliminar registro de buffet-->
                                <button id="btnEliminar" type="button" onclick="llamadoEliminarFunction()"
                                    class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                        src="/images/menos.svg" alt=""></button>



                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div id="bodyListSection" class="overflow-auto">

                <div id="listViewMesas" class="border">
                    <div id="mostrarContenidoMesas">
                        <table class="table table-hover" style="width:100%; height:auto;">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Consecutivo</th>
                                    <th>Nombre</th>
                                    <th>Número</th>
                                    <th>Cantidad de Sillas</th>
                                    <th>Restaurante</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each recordset}}
                                <tr>
                                    <td>{{codigo}} </td>
                                    <td>ME-{{consecutivo}}</td>
                                    <td>{{nombre}}</td>
                                    <td>{{numero}}</td>
                                    <td>{{cantidadSillas}}</td>
                                    <td>{{restaurante}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h1 style="text-align: center; color: red;">{{mensaje}}</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var formulario = document.getElementById("frmMesas");
        var btnEliminar = document.getElementById("btnEliminar");

        function limpiarInputs() {
            document.getElementById("inputCodMesa").value = "";
            document.getElementById("inputNomMesa").value = "";
            document.getElementById("inputCantSillasMesa").value = "";
            document.getElementById("inputRest").value = "";
            alert("Cajas de Texto limpias.");
        }

        function llamadoEliminarFunction() {


            if (document.getElementById("inputCodMesa").value == "" || document.getElementById("inputNomMesa").value == ""
                || document.getElementById("inputCantSillasMesa").value == "") {
                alert("Debe llenar toda la informacion!!!");
            } else {
                btnEliminar.setAttribute("formaction", "../ListaMesas/eliminarMesas")
                btnEliminar.setAttribute("type", "submit");

            }
        }


    </script>
</body>

</html>