<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaBebidasHeladas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Bebidas Heladas</title>
</head>

<body>
    <div id="SeccionPrincipalBH" class="container d-flex border">
        <div id="LSectionBH" class="">
            <img class="LogoBH" src="/images/malteada.svg" alt="">
        </div>
        <div id="RSectionBH" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid headerSideSize">
                    <div class="marginL">
                        <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaBebidasHeladas/listarAllBebidasHeladas"><button class="marginIconos "><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/recargar.svg"
                                    alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos"><img
                                style="width: 2.5rem; height: 2.5rem;" src="/images/escoba.svg" alt=""></button>
                    </div>
                    <div class="marginL">
                        <a href="/TiposDeBebidas"><button class="marginIconos"><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/error.svg" alt=""></button></a>
                        <a href="/RegistroBebidasHeladas/listarInfoDropMenus">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/mas.svg" alt=""></button>
                        </a>
                    </div>
                </div>
                <div id="littleForm">
                    <form class="form-inline container displayGrid headerMidleSize" method="post"
                        action="/ListaBebidasHeladas/filtrarLista">
                        <div class="d-flex headerMidleSize">
                            <div class="marginIconos">

                                <div class="form-group  ">
                                    <input type="text" class="form-control" id="inputCodBH" name="inputCodBH"
                                        placeholder="Codigo de la Bebida">
                                </div>
                            </div>
                            <div class="marginIconos">

                                <div class="form-group  ">
                                    <input type="text" class="form-control" id="inputNomBH" name="inputNomBH"
                                        placeholder="Nombre de la Bebida">
                                </div>
                            </div>
                            <!--llama al post para realizar busqueda-->
                            <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                    style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                    alt=""></button>

                            <!--Cargar post para eliminar registro de buffet-->
                            <button id="btnEliminar" type="button" onclick="llamadoEliminarFunction()"
                                class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;" src="/images/menos.svg"
                                    alt=""></button>
                        </div>
                    </form>
                </div>

            </div>
            <div id="bodyListSection">

                <div id="listViewRest" class="border">
                    <div id="mostrarContenidoBH" class="overflow-auto">
                        <table class="table table-hover" style="width:100%; height:auto;">
                            <thead>
                                <tr>
                                    <th>Codígo</th>
                                    <th>Consecutivo</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Restaurante</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each recordset}}
                                <tr>
                                    <td>{{codigo}} </td>
                                    <td>BE-{{consecutivo}}</td>
                                    <td>{{nombre}}</td>
                                    <td>{{precioUnitario}}</td>
                                    <td>{{restaurante}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h1
                            style="text-align: center; color: #A94442; border-radius: 1rem; background-color: #F3DEDE; ">
                            {{mensaje}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var btnEliminar = document.getElementById("btnEliminar");

        function limpiarInputs() {
            document.getElementById("inputCodBH").value = "";
            document.getElementById("inputNomBH").value = "";
            alert("Cajas de Texto limpias.");
        }

        function llamadoEliminarFunction() {


            if (document.getElementById("inputCodBH").value == "" || document.getElementById("inputNomBH").value == "") {
                alert("Debe llenar toda la informacion!!!");
            } else {
                btnEliminar.setAttribute("formaction", "../ListaBebidasHeladas/eliminarRestRegistro")
                btnEliminar.setAttribute("type", "submit");

            }
        }


    </script>
</body>

</html>