<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/RegistroEquiposyUtencilios.css">
    <title>Equipos y Utencilios</title>
</head>

<body>

    <div class="container navbar-expand-xl">
        <h1 class="text-center align-content-center">Equipos y Utencilios</h1>
    </div>
    <div class="container errorR" role="alert">
        <h1 class="text-center align-content-center">
            {{messages.errorRegistro}}
        </h1>
    </div>
    <div class="container exitoR" role="alert">
        <h1 class="text-center align-content-center">
            {{messages.exitoRegistro}}
        </h1>
    </div>
    <div class="d-flex MAXWandH">
        <div id="contenedorLogin" class="container border d-flex ">
            <div id="imagenLogo">
                <img style="width: 80%; height: 60%;" src="/images/cubiertos.svg" alt="">
            </div>
            <form class="form-inline d-flex needs-validation" method="post" action="" novalidate>
                <div id="BmenuUno" class="container border">
                    <div class="displayGrid ">
                        <div class="">
                            <label>Información de los Equipos</label>
                        </div>

                        <div class="col-md-4 mb-3">
                            <select class="custom-select" id="inputNombreRest" name="inputNombreRest" required>
                                <option value="">Restaurante</option>
                                {{#each restaurante}}
                                <option value="{{codRes}}">{{nomRes}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="text" class="form-control" placeholder="Nombre" id="inputNomEyU"
                                name="inputNomEyU" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select class="custom-select" id="inputSelectMarca" name="inputSelectMarca" required>
                                <option value="">Marca</option>
                                {{#each marca}}
                                <option value="{{codMarca}}">{{nomMarca}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-9 mb-3">

                            <input id="inputCantidadEyU" name="inputCantidadEyU" type="number" class="form-control "
                                placeholder="Cantidad" required>
                        </div>
                        <div class="col-md-8 mb-3">
                            <textarea id="inputDescripcion" name="inputDescripcion" class="form-control"
                                placeholder="Descripción" type="text" aria-label="With textarea" required></textarea>
                        </div>

                    </div>


                </div>


                <div id="botonesLogin" class="d-flex">
                    <!--llamar funcion para limpiar textbox-->
                    <button id="btnLimpiarRegistroInputs" type="button" class="btn" onclick="limpiarInputs()"><img
                            style="width: 3rem; height: 3rem;" src="/images/escoba.svg" alt=""></button>

                    <!--llamar post para realizar el insert-->
                    <button id="btnConfirmarInsertBufet" type="button" class="btn"
                        onclick="llamadoInsertarFunction()"><img style="width: 3rem; height: 3rem;"
                            src="/images/confirmacion.svg" alt=""></button>

                    <!--llamar get para regresar a la pagina de listado-->
                    <a href="/ListaEquiposyUtensilios/listarAllEquiUten"><button type="button" class="btn"><img
                                style="width: 3rem; height: 3rem;" src="/images/error.svg" alt=""></button>
                    </a>

                </div>
            </form>
        </div>
    </div>





    <script>
        var btnInsertar = document.getElementById("btnConfirmarInsertBufet");




        function limpiarInputs() {

            document.getElementById("inputNomEyU").value = "";
            document.getElementById("inputCantidadEyU").value = "";
            document.getElementById("inputDescripcion").value = "";

            alert("Cajas de Texto limpias.");
        }

        function llamadoInsertarFunction() {

            btnInsertar.setAttribute("formaction", "../RegistroEquiposyUtencilios/insertarEyU")
            btnInsertar.setAttribute("type", "submit");

        }

    </script>

    <script src="/javascripts/alertas.js"></script>
    <script src="/javascripts/validaciones.js"></script>
</body>

</html>